body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    color: #222;
    background-color: #fff;
    overflow: hidden;
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px 40px;
    z-index: 10;
}

.navbar a {
    text-decoration: none;
    color: #aaa;
    margin-left: 30px;
    font-size: 0.95rem;
    transition: color 0.3s;
    letter-spacing: 1px;

}

.navbar a:hover {
    color: #000;
}

#name {
    position: fixed;
    top: 20px;
    left: 40px;
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: #222;
    z-index: 100;
}

#name a {
    text-decoration: none;
    color: #222;
}

.footer {
    position: fixed;
    bottom: 30px;
    right: 60px;
    font-size: 0.9rem;
    color: #666;
    letter-spacing: 0.5px;
}